@import url('https://fonts.googleapis.com/css2?family=Ruwudu:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Ruwudu', serif;
}

#spinner {
    display: none;
}

.btn{
   background: #b75fab;
}